
@{
    ViewBag.Title = "Index";
}

<section id="container">
    <div id="skippr">
        <div style="background-image: url(/img/img1.jpg);"></div>
        <div style="background-image: url(/img/img2.jpg);"></div>
        <div style="background-image: url(/img/img3.jpg);"></div>
        <div style="background-image: url(/img/img4.jpg);"></div>
        <div style="background-image: url(/img/img5.jpg);"></div>
    </div>
</section>
<section style="background-color: #f7f7f7;padding: 0px 0px 30px 0px;">
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pull-left">走着嗨</h1>
                    <span class="pull-right"><a href="index.html">更多</a> </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 animated" data-animation="bounceIn" data-delay="0">
                <a href="index.html">
                    <div class="walkhi">
                        <img src="img/img1.jpg" class="img-responsive">
                        <h4>走着嗨活动标题</h4>
                        <p>
                            2015-7-15
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 animated" data-animation="bounceIn" data-delay="200">
                <a href="index.html">
                    <div class="walkhi">
                        <img src="img/img2.jpg" class="img-responsive">
                        <h4>走着嗨活动标题</h4>
                        <p>
                            2015-7-15
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 animated" data-animation="bounceIn" data-delay="400">
                <a href="index.html">
                    <div class="walkhi">
                        <img src="img/img3.jpg" class="img-responsive">
                        <h4>走着嗨活动标题</h4>
                        <p>
                            2015-7-15
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="uphi">
    <div class="container">
        <div class="uphi-header">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pull-left">起来嗨</h1>
                    <span class="pull-right"><a href="index.html">更多</a> </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 gallery-item animated" data-animation="bounceIn" data-delay="0">
                <a href="index.html">
                    <div class="gallery-item">
                        <img src="img/img4.jpg" class="img-responsive">
                        <div class="img-caption">
                            <h4>走着嗨活动标题</h4>
                            <p>
                                2015-7-15
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 animated" data-animation="bounceIn" data-delay="400">
                <div class="col-sm-12" style="margin: 0px; padding: 0px;">
                    <a href="index.html">
                        <div class="gallery-item">
                            <img src="img/img1.jpg" class="img-responsive">
                            <div class="img-caption">
                                <h4>走着嗨活动标题</h4>
                                <p>
                                    2015-7-15
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12" style="margin: 0px; padding: 0px;">
                    <a href="index.html">
                        <div class="gallery-item">
                            <img src="img/img3.jpg" class="img-responsive">
                            <div class="img-caption">
                                <h4>走着嗨活动标题</h4>
                                <p>
                                    2015-7-15
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="hithing">
    <div class="container">
        <div class="hithing-header">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pull-left">嗨玩意</h1>
                    <span class="pull-right"><a href="index.html">更多</a> </span>
                </div>
            </div>
        </div>
        <div class="row" style="padding:0px 15px;">
            <div class="col-sm-8 clear-lr gallery-item animated" data-animation="bounceIn" data-delay="0">
                <a href="index.html">
                    <div class="gallery-item" style="height: 253px; overflow: hidden;">
                        <img src="img/img4.jpg" class="img-responsive">
                        <div class="img-caption">
                            <h4>走着嗨活动标题</h4>
                            <p>
                                2015-7-15
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 clear-lr animated" data-animation="bounceIn" data-delay="400">
                <a href="index.html">
                    <div class="gallery-item">
                        <img src="img/img1.jpg" class="img-responsive">
                        <div class="img-caption">
                            <h4>走着嗨活动标题</h4>
                            <p>
                                2015-7-15
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row" style="padding:0px 15px;">
            <div class="col-sm-3 clear-lr animated" data-animation="bounceIn" data-delay="400" style="margin: 0px;">
                <a href="index.html">
                    <div class="gallery-item">
                        <img src="img/img1.jpg" class="img-responsive">
                        <div class="img-caption">
                            <h4>走着嗨活动标题</h4>
                            <p>
                                2015-7-15
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 clear-lr  animated" data-animation="bounceIn" data-delay="400" style="margin: 0px;">
                <a href="index.html">
                    <div class="gallery-item">
                        <img src="img/img2.jpg" class="img-responsive">
                        <div class="img-caption">
                            <h4>走着嗨活动标题</h4>
                            <p>
                                2015-7-15
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 clear-lr animated" data-animation="bounceIn" data-delay="400" style="margin: 0px;">
                <a href="index.html">
                    <div class="gallery-item">
                        <img src="img/img3.jpg" class="img-responsive">
                        <div class="img-caption">
                            <h4>走着嗨活动标题</h4>
                            <p>
                                2015-7-15
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 clear-lr animated" data-animation="bounceIn" data-delay="400" style="margin: 0px;">
                <a href="index.html">
                    <div class="gallery-item">
                        <img src="img/img4.jpg" class="img-responsive">
                        <div class="img-caption">
                            <h4>走着嗨活动标题</h4>
                            <p>
                                2015-7-15
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="higuestsay">
    <div class="container">
        <div class="hgs-header">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pull-left">嗨客说</h1>
                    <span class="pull-right"><a href="index.html">更多</a> </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 animated" data-animation="bounceIn" data-delay="0" style="text-align: center;">
                <img src="img/img3.jpg">
                <div class="hgs-content">
                    <h4>
                        这是标题或者嗨客名称
                    </h4>
                    <p>
                        这里是嗨客说的话，可以是很多，或者是嗨客的座右铭。可以很长很长很长很长

                    </p>
                    <p style="text-align: right;">---签名</p>

                </div>
            </div>
            <div class="col-sm-3 animated" data-animation="bounceIn" data-delay="200" style="text-align: center;">
                <img src="img/img2.jpg">
                <div class="hgs-content">
                    <h4>
                        这是标题或者嗨客名称
                    </h4>
                    <p>
                        这里是嗨客说的话，可以是很多，或者是嗨客的座右铭。可以很长很长很长很长

                    </p>
                    <p style="text-align: right;">---签名</p>

                </div>
            </div>
            <div class="col-sm-3 animated" data-animation="bounceIn" data-delay="400" style="text-align: center;">
                <img src="img/img1.jpg">
                <div class="hgs-content">
                    <h4>
                        这是标题或者嗨客名称
                    </h4>
                    <p>
                        这里是嗨客说的话，可以是很多，或者是嗨客的座右铭。可以很长很长很长很长

                    </p>
                    <p style="text-align: right;">---签名</p>

                </div>
            </div>
            <div class="col-sm-3 animated" data-animation="bounceIn" data-delay="600" style="text-align: center;">
                <img src="img/img4.jpg">
                <div class="hgs-content">
                    <h4>
                        这是标题或者嗨客名称
                    </h4>
                    <p>
                        这里是嗨客说的话，可以是很多，或者是嗨客的座右铭。可以很长很长很长很长

                    </p>
                    <p style="text-align: right;">---签名</p>

                </div>
            </div>
        </div>

    </div>
</section>
<section class="hiview">
    <div class="container">
        <div class="hiview-header">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pull-left">嗨视角</h1>
                    <span class="pull-right"><a href="index.html">更多</a> </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 animated" data-animation="bounceIn" data-delay="0">
                <a href="index.html">
                    <div class="walkhi2">
                        <img src="img/img1.jpg" class="img-responsive">
                        <h4>走着嗨活动标题</h4>
                        <p>
                            2015-7-15
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 animated" data-animation="bounceIn" data-delay="200">
                <a href="index.html">
                    <div class="walkhi2">
                        <img src="img/img2.jpg" class="img-responsive">
                        <h4>走着嗨活动标题</h4>
                        <p>
                            2015-7-15
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 animated" data-animation="bounceIn" data-delay="400">
                <a href="index.html">
                    <div class="walkhi2">
                        <img src="img/img3.jpg" class="img-responsive">
                        <h4>走着嗨活动标题</h4>
                        <p>
                            2015-7-15
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>

